<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User-Creator</title>
</head>
<body>
    <h2 th:align="center">Список пользователей</h2>
    <table th:align="center" th:border="1">
        <thead>
            <th>Name</th>
            <th>Lastname</th>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td>
                    <a th:href="@{/user/edit/{id}(id=${user.getId})}">Edit</a></td>
                <td>
                    <form th:method="delete" th:action="@{/user/delete/{id}(id=${user.getId})}">
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div th:align="center">
        <a th:href="@{/user/newUser}">create User</a>
    </div>
</body>
</html>