<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h2 th:align="center">Cоздать пользователя.</h2>
<form th:action="@{/new}" th:method="POST" th:object="${user}">
    <table th:align="center" th:border="1">
        <tr>
            <td>Введите имя</td>
            <td>Введите фамилию</td>
        </tr>
        <tr>
            <td>
                <input th:type="text" th:field="*{name}" id="name"/>

            </td>
            <td>
                <input th:type="text" th:field="*{lastName}" id="lastName"/>

            </td>
        </tr>
    </table>
    <br>
    <div th:align="center">
        <input type="submit" th:value="Создать"/>
    </div>
</form>

</body>
</html>